.*
**/.*
!/.dockerignore
**/db_test_snippets.py
**/test_snippets.py
__pycache__/
ravager/__pycache__/
downloads/
logs/
database/
**/celerybeat-schedule
**/conversation
**/**/mega/*
docker-compose.yml
Dockerfile
docker-compose-dev.yml
docker-compose-local-dev.yml
app.json
heroku.yml
client_secret.json
ravager/.env